*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: none;
    font-size: larger;
    padding: 25px;
    text-align: center;
}

body{
    font-size: small;
    font-family:Arial, Helvetica, sans-serif;
    background-color: grey;
}

.start,
.rules,
.rule-box,
.quiz-box,
.result-box{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, .2),
                0px 6px 20px 0 rgba(0, 0, 0, .19);
}

.start button {
    font-size: large;
    font-weight: 500;
    padding: 10px 20px;
    outline: auto;
    border: 0cm;
    cursor: pointer;
}

.start button:hover{
    background-color: gray;
    color: greenyellow;
}

.rules {
    opacity: 0;
    align-items: center;
    font-size: larger;
    padding: 15px 30px;
    width:fit-content;
    color: white;
    background: red;
    pointer-events: none;
        
}

.rule-box {
    opacity: 0;
    height: 100px;
    padding: 5px 30px;
    border: 0cm;
    background: red;
    width: fit-content;
    color: white;
    font-weight: 500;
    justify-content: center;
    pointer-events: none;
}

.buttons {
    display:none ;
    font-size: large;
    font-weight: 500;
    padding: 5px 10px;
    outline: auto;
    border:0cm ;
    cursor: pointer;
}

.quiz-box{
    
    position:absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: fit-content;
    background-color: black;
    color: white;
    font-size: larger;
    opacity: 0;
    pointer-events: none;  
}

.quiz-box header{
    height: 125px;
    position: relative;
    z-index: 99;
    padding: 5px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0 ;
}

.quiz-box header .title {
    font-size: 20px;
}

.quiz-box header .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background: gray;
    border: 1px solid red;
    padding: 5px 5px;
}

.quiz-box header .clock {
    font-size: 20px;
    font-weight: 400;
    user-select: none;
}

.quiz-box header .timer-sec {
    font-size: 20px;
    font-weight: 400;
    user-select: none;
    background: red;
    width: 30px;
    height: auto;
    text-align: center;
    line-height: 30px;
}

.quiz-box section {
    padding: 15px 30px 20px 30px;
}

.quiz-box section .questions{
    font-size: 25px;
    width: fit-content;
    padding: 20px;
}

.quiz-box section .answers {
    padding: 10px 30px;
    display: block;
}

.quiz-box section .answers .option {
    background:red;
    border: 2px;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.quiz-box section .answers .option:hover {
    color:greenyellow;
    background: gray;
    border: 1cm;
    outline: auto;
}
.quiz-box section .answers .option:last-child{
    margin-bottom: 0px;
}

.quiz-box footer {
    height: auto;
    width: auto;
    display: flex;
    padding: 10px 30px;
    align-items: center;
    justify-content: space-between;    
}

.quiz-box footer .total-questions span{
    height: auto;
    width: auto;
    display: flex;
    padding: auto;
    align-items: center;
    justify-content: space-between;
    display: flex;
    user-select: none;
}

.quiz-box footer .total-questions span p{
    font-weight: 300;
    padding: 0 5px;
}

.quiz-box footer .next-btn{
    background:red;
    color: white;
    font-size: large;
    font-weight: 200;
    padding: 0 20px;
    outline: auto;
    border: 0cm;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.quiz-box footer .next-btn:hover{
    background:gray ;
    color:greenyellow;
}

.result-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 500px;
    background-color: rgb(255, 0, 242);
    color: white;
    font-size: x-large;
    text-align: center;
    justify-content: space-between;
    padding: 5px 20px;
    border: 1cm;
    display: inline;
    gap: 50px;
    opacity: 0;
    pointer-events: none;
}

.result-box .finished {
    padding: auto;
    text-align: center;
}

.result-box .finished .enter {
    padding: auto;
    text-align: center;
    overflow-wrap: break-word;
}

.result-box .leaderboard {

}

.result-box .replay {
    padding: 10px 10px;
}

.result-box .replay .restart {
    padding: 10px 10px;
    font-size: 15px;
}

.result-box .replay .quit {
    padding: 10px 10px;
    font-size: 15px;
}
.result-box .replay .restart:hover {
    color: greenyellow;
    background: grey;
}

.result-box .replay .quit:hover{
    color: greenyellow;
    background: gray;
}